<p >
  <strong>First Name</strong>
  <%= @user.fname %>
  </p>
  <strong>Last Name</strong>
  <%= @user.lname %>

  </p>

  <p>
<strong>Email</strong>
  <%= @user.email %>
</p>

<p> 
<strong>Here are the posts associated with this user</strong>
</br>
   <% @posts.each do |post| %>
      <tr>
        
         <td><%= post.content %></td>
         </br>
           <% end %>
</p>