<p >
  <strong>First Name</strong>
  <%= @user.fname %>
  </p>
  <strong>Last Name</strong>
  <%= @user.lname %>

  </p>
  
  <p>
<strong>Email</strong>
  <%= @user.email %>
</p>

<p> 
<strong>Here are the posts associated with this user</strong>

</p>